[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.13"
